base {
 log_debug = off;
 log_info = off;
 daemon = on;
 redirector = iptables;
}

redsocks {
 bind = "0.0.0.0:5050";
 relay = "127.0.0.1:3128";
 type = http-connect;
 autoproxy = 0;
 //timeout = 13;
 //login = username;
 //password = passwd;
}

redsocks {
 bind = "0.0.0.0:6060";
 relay = "127.0.0.1:3128";
 type = http-connect;
 autoproxy = 0;
 //timeout = 13;
 //login = username;
 //password = passwd;
}

//tcpdns {
    // Transform UDP DNS requests into TCP DNS requests.
    // You can also redirect connections to external TCP DNS server to
    // REDSOCKS transparent proxy via iptables.
    //local_ip = 192.168.1.1; // Local server to act as DNS server
    //local_port = 1053;      // UDP port to receive UDP DNS requests
    //tcpdns1 = 8.8.4.4;      // DNS server that supports TCP DNS requests
    //tcpdns2 = 8.8.8.8;      // DNS server that supports TCP DNS requests
    //timeout = 4;            // Timeout value for TCP DNS requests
//}
